/* Sidebar */
.sidebar
  position fixed        
  left calc(30% - 450px)  
  top 150px
  width 200px
  background-color rgba(0,0,0,0.9)
  padding 1rem
  border-radius 8px
  box-shadow 0 2px 8px rgba(0,0,0,0.05)
  height fit-content

.sidebar ul
  list-style none
  padding 0
  margin 0

.sidebar li
  margin-bottom 1rem

.sidebar li a
  display block
  text-decoration none
  font-family Oswald, sans-serif
  font-weight 500
  color #0078d7
  padding 0.3rem 0.5rem
  border-radius 4px
  transition all 0.2s ease

.sidebar li a:hover
  background-color rgba(212,175,55,0.2)
  color #d4af37
