@import './styles/_variables'
@import './styles/_backgrounds'
@import './styles/_components'
@import './styles/_layout'
@import './styles/_buttons'

body
  background-color $primary-color
  -webkit-font-smoothing antialiased
  color #fff
  font-weight 400
  font-size 16px
  font-family 'Inter', sans-serif